*, *::after, *::before {
  box-sizing: border-box;
}

body {
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div#top-section {
  display: flex;
  justify-content: space-between;
}

h1 {
  align-self: center;
}